@use '../../helpers/functions' as *;

.Jobs {
    margin-top: 88px;

    .Jobs_Intro {
        min-height: 419px;
        padding: 5px 0;
        border: solid black 1px;
        background-image: linear-gradient(to right, rgba($BaseColor, 0.8), rgba($BaseColor, 0.8)),
            url('../../Assets/istockphoto-1476707542-612x612.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 10px;

        h1 {
            font-size: 44px;
            color: white;
        }

        p {
            width: 60%;
            color: #C4C4C4;
            font-size: 22px;
            text-align: center;

            @include Breakpoints(mobile) {
                width: 100%;
                padding: 10px;
                font-size: 19px;
            }
        }

        form {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 8px;

            @include Breakpoints(mobile) {
                flex-wrap: wrap;
            }


            input,
            select {
                width: 326px;
                height: 64px;
                border-radius: 6px;

                @include Breakpoints(mobile) {
                    width: 90%;
                }

                &:focus {
                    border-color: $BaseColor;
                    outline: none;
                    --tw-ring-color: none;
                }
            }

            button {
                width: 225px;
                height: 64px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $ThirdColor;
                color: black;
                font-size: 25px;
                transition: all 0.5s linear;
                border-radius: 6px;

                @include Breakpoints(mobile) {
                    width: 90%;
                }

                &:hover {
                    background-color: rgba($ThirdColor, 0.7);
                }
            }
        }
    }

    .Job_cards {
        margin-top: 20px;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        .Job_card {
            width: 612px;
            min-height: 434px;
            gap: 0px;
            border-radius: 7px;
            box-shadow: 0px 0px 6px black;
            padding: 20px;

            @include Breakpoints(mobile) {
                width: 90%;
            }

            .Job_card_image {
                height: 100px;
                display: flex;
                justify-content: space-between;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    border: 1px solid #C4C4C4;

                }

                span {
                    width: 111px;
                    height: 34px;
                    border-radius: 25px;
                    background-color: $FourthColor;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #444444;
                    gap: 5px;

                    svg {
                        position: relative;
                        top: 1px;
                    }
                }

                .JobLogo {
                    display: flex;
                    justify-content: end;
                    gap: 15px;



                    .JobLogo_text {
                        h1 {
                            font-size: 20px;
                            font-weight: 700;
                        }

                        h2 {
                            font-size: 18px;
                            font-weight: 400;
                        }
                    }
                }
            }

            .Job_card_decs {
                h3 {
                    font-size: 24px;
                    color: $BaseColor;
                    font-weight: 700;
                    text-transform: capitalize;
                }

                p {
                    font-size: 18px;
                    color: #7B7575;
                    margin-top: 10px;
                }
            }

            .Job_Footer {
                width: 100%;
                height: 100px;
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    font-size: 22px;
                }

                svg {
                    width: 26px;
                    height: 26px;
                    color: $ThirdColor;
                }

                button {
                    width: 161px;
                    height: 46px;
                    border-radius: 6px;
                    background-color: $ThirdColor;
                    color: white;
                    transition: all linear 0.5s;
                }
            }
        }
    }

    .Pagination {
        div {
            width: 58px;
            height: 46px;
            background-color: #C4C4C4;
            color: black;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 23px;

            @include Breakpoints(mobile) {
                width: 48px;
                height: 36px;
                font-size: 18px;
            }

            &.Active {
                background-color: $ThirdColor ;
                color: white
            }
        }
    }

}