@mixin Breakpoints($point) {
    @if $point ==mobile {
        @media (max-width: 767px) {
            @content;
        }
    } @else if $point ==small {
        @media (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    } @else if $point ==medium {
        @media (min-width: 992px) and (max-width: 1199px) {
            @content;
        }
    } @else if $point ==large {
        @media (min-width: 1200px) {
            @content;
        }
    }
}

$BaseColor: #14213d;
$secondColor: #fb8b24;
$HoverColor: #d48383;
$Mainpadding: 25px;

@mixin Animtation($Time, $Type, $Prop) {
    transition: $Time $Type $Prop;
}
