@use "../../helpers/_functions.scss" as *;
.main-About-us {
    margin: 88px auto;
    .main-header-image {
        background-image: linear-gradient(to right, rgba($BaseColor, 0.8), rgba($BaseColor, 0.8)),
            url("../../Assets/صور المشروع/من نحن/business-people-partnership-support-team-urban-scene-concept.jpg");
        height: 300px;
        width: 100%;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        .about-text {
            text-align: center;
            h1 {
                color: white;
                font-size: 30px;
            }
        }
    }
    .about-alamir {
        padding: $Mainpadding;
        h2 {
            font-size: 30px;
            font-weight: bold;
        }
        p {
            padding-top: 10px;
            font-size: 20px;
            color: black;
        }
    }
    .about-service {
        margin: $Mainpadding;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $BaseColor;
        border-radius: 30px 30px 0px 0px;
        min-height: 450px;
        .image {
            width: 50%;
            img {
                width: 100%;
                height: 500px;
                object-fit: contain;
            }
        }

        .text {
            h1 {
                color: $secondColor;
            }
            p {
                margin-bottom: 13px;
            }
            width: 40%;
            color: white;
            font-size: 23px;
        }
    }
    .whysec {
        padding: $Mainpadding;
        .headsec {
            text-align: center;
            color: $secondColor;
            font-size: 30px;
            font-weight: 600;
            margin: 30px auto 40px auto;
        }
        .snake {
            display: flex;
            justify-content: center;
            align-items: center;
            &:nth-child(odd) {
                flex-direction: row-reverse;
                .snake-image {
                    img {
                        border-top-left-radius: 211px;
                        border-bottom-left-radius: 211px;
                        border-bottom-right-radius: 0px;
                        border-top-right-radius: 0px;
                        border-left: 10px solid $BaseColor;
                        border-bottom: 10px solid $BaseColor;
                        border-top: 10px solid $BaseColor;
                        border-right: 0px solid $BaseColor;
                    }
                }
            }
            .snake-image {
                width: 30%;
                margin-top: -10px;
                img {
                    -webkit-border-top-right-radius: 228px;
                    -webkit-border-bottom-right-radius: 272px;
                    -moz-border-radius-topright: 228px;
                    -moz-border-radius-bottomright: 272px;
                    border-top-right-radius: 211px;
                    border-bottom-right-radius: 211px;

                    border-bottom: 10px solid $BaseColor;
                    border-right: 10px solid $BaseColor;
                    border-top: 10px solid $BaseColor;
                }
            }
            .snake-text {
                width: 30%;
                padding-left: 30px;
                h1 {
                    color: black;
                    text-align: start;
                    font-size: 20px;
                }
                p {
                    font-size: 15px;
                    text-align: start;
                    color: black;
                }
            }
        }
    }
}
